body {
     background-color: rgb(245, 255, 239);
     height: 100%;
     margin: 0;
     align-items: center;
     text-align: center;
}

input{
     border-radius: 7px;
}

textarea{
     border-radius: 5px;
}

a{
     text-decoration: none;
     color: rgb(13, 77, 37);
}

h1{
     color: rgb(13, 77, 37);
}